








@media screen and (max-width: 600px) {
 .div-authregister {
    height: 100vh;
    
 }

 .p-authcontent {
   width: 100px;
   height: 34px;
   background-color: #cfd4ed;
   margin-left: 16px;
   margin-top: 29px;
 }

 .p-titleauth {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 16px;
 }

 .p-nameAuth {
    margin-left: 16px;
    margin-top: 30px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
 }

 .input-name {
  width: 328px;
  height: 38px;
  margin-left: 16px;
 }

 .p-EmailAuth {
  margin-left: 16px;
  margin-top: 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
 }

 .button-signup {
  width: 328px;
  height: 36px;
  border-radius: 8px;
  margin-top: 32px;
  margin-left: 16px;
  background-color:  #0D28A6;
  border: 1px solid #0D28A6;
  color: white;
  cursor: pointer;
 }

 .div-informationAuth {
   margin-left: 54px;
   margin-top: 32px;
   display: flex;
   margin-top: 20px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 20px;
 }

 .p-directSignIn {
   margin-left: 8px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 20px;
   font-weight: 700;
}

.div-Authcontent2 {
  display: none;
}

.div-handleerror {
  width: 370px;
  height: 50px;
  background-color: rgb(238, 72, 72);
  color: white;
  margin-left: 5px;
}

.p-error {
  margin-left: 20px;
  margin-top: 20px;
}

.link-auth {
  text-decoration: none;
  color: #000000;

}
}

@media screen and (min-width: 601px) {
.auth-input-data {
  width: 500px;
  margin-left: 300px;
  margin-top: 270px

}

.auth-img-content{
  
  width: 856px;
  height: 856px;
  margin-left: 100px;
  margin-top: 100px;
}

  .div-authregister {
    height: 100vh;
  }

  .div-content {
    display: flex;
    height: 100vh;
  }

  .div-Authcontent1 {
    height: 100vh;
    width: 50%;
    background-color: white;
  }

  .div-Authcontent2 {
    height: 100vh;
    width: 50%;
    background-color: #0d28a6;
    position: relative;
  }

  .p-Auth-register {
    font-size: 48px;
    
    opacity: 70%;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 72px;
  }

  .img-Auth {
  
   height: 768px;
   
  }
  .img-Auth img{
    height: 100%;
    width: 80%;
   }
  
  .p-authcontent {
    width: 100px;
    height: 34px;
    background-color:  #CFD4ED;
  }

  .p-titleauth {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  .p-nameAuth {
    padding-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
   
  }

  .input-name {
    width: 370px;
    height: 38.15px;
    border-radius: 5px;
    border: 1px #000000 10%;
    margin-top: -12px;
  }

  .p-EmailAuth {
   padding-top: 24px;
  }

  .button-signup {
    margin-top: 36px;
    width: 370px;
    height: 36px;
    border-radius: 8px;
    color: white;
    background-color: #0D28A6;
    cursor: pointer;
  }

  .div-informationAuth {
    display: flex;
    padding-top: 16px;
    padding-left: 50px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;
  }

  .p-directSignIn {
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #0D28A6;
  }

  .div-handleerror {
    width: 400px;
    height: 40px;
    background-color: rgb(238, 72, 72);
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .link-auth {
    text-decoration: none;
    color: #000000;
  }

  
}